aiogrpc==1.8
asgiref==3.7.2
bech32==1.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.11
django-cors-headers==4.3.1
djangorestframework==3.15.0
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-tools==1.62.1
gunicorn==21.2.0
idna==3.6
lndgrpc==0.2.0
lnurl==0.1.1
mypy-protobuf==3.5.0
packaging==24.0
protobuf==4.25.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
sqlparse==0.4.4
types-protobuf==4.24.0.20240311
urllib3==2.2.1
utils==1.0.2
secp256k1
segno
websockets
channels[daphne]